@import 'tailwindcss';

html {
	@apply scroll-smooth;
}
img {
	height: auto;
	max-width: 100%;
}
body {
	overflow-x: hidden;
}

@utility container {
	margin-inline: auto;
	padding-inline: 4rem;

	@media (width >= 640px) {
		max-width: 640px;
	}
	@media (width >= 768px) {
		max-width: 768px;
	}
	@media (width >= 1024px) {
		max-width: 1024px;
	}
	@media (width >= 1280px) {
		max-width: 1280px;
	}
	@media (width >= 1400px) {
		max-width: 1400px;
	}
}

html {
	@apply h-full;
}

body {
	@apply h-full;
}

select,
::picker(select) {
	appearance: base-select;
}

select::picker-icon {
	color: #999999;
	transition: 0.4s rotate;
}

select:open::picker-icon {
	rotate: 180deg;
}

.breadcrumb {
	@apply flex ml-2;
}

.breadcrumb-item {
	@apply text-[#626C83] text-xs;
}

.breadcrumb-item.active {
	@apply font-bold;
}

.sidebar-link.active {
	@apply bg-[#EEF2FF] text-[#5879DC] rounded-xl;
}

.average-rating {
	position: relative;
	font-size: 1.2em;
}

.average-rating::before {
	content: '★★★★★';
	position: absolute;
	top: -15px;
	left: 0;
	color: rgba(0, 0, 0, 0.2);
	background: linear-gradient(
		90deg,
		gold var(--star-fill, 0%),
		rgba(0, 0, 0, 0.2) var(--star-fill, 0%)
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	pointer-events: none;
}

/* Popups */

.popup-overlay {
	@apply fixed top-0 left-0 w-full h-full bg-[rgba(0,0,0,0.5)] flex justify-center items-center z-10;
}

.popup-content {
	@apply flex flex-col justify-center items-center bg-white p-5 rounded-lg shadow-md relative max-w-[500px] w-11/12;
}

.close-button {
	@apply absolute top-5 right-5 bg-none border-none cursor-pointer text-2xl font-bold;
}
